h1 {
  text-align: center;
  color:rgb(158, 116, 9);
  font-family:monospace;
  font-weight: 525;
}

.topnav {
  background: linear-gradient(to right, rgb(227, 100, 100), grey, rgb(227, 100, 100));
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: antiquewhite;
}

#one, #two, #three {
  padding: 10px;
}

.topnav a.active {
  background-color: #66a78f;
  color:rgb(189, 250, 230);
}

.topnav a:hover {
  background-color: rgb(146, 208, 198);
  color: rgb(227, 100, 100);
}

.topnav a {
  color: antiquewhite;
}

body {
  background-image: url("https://scx1.b-cdn.net/csz/news/800a/2018/areorganisms.jpg");
  background-size: cover;
  
}