@{
  Layout ="_Layout";
}

<h1>Engineers</h1>

<div class = "topnav">
  <a href = "/">Home</a>
  <a class = "active" href = "/Engineers">Engineers</a>
  <a href = "/Machines">Machines</a>
</div>

@using Factory.Models;
@model List<Factory.Models.Engineer>;
  @if(Model.Count == 0)
  {
    <h2> There are no Engineers</h2>
  }
  @foreach (Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id =engineer.EngineerId}) </li>  
  }

  <h4>@Html.ActionLink("Register new engineer","Create")</h4>
  <h4>@Html.ActionLink("Return to homepage","Index", "Home")</h4>