@{
  Layout ="_Layout";
}

<h1>Welcome Dr. Sillystingz Factory</h1> 

<div class = "topnav">
  <a id = "one" class = "active" href = "/">| Home |</a>
  <a id = "two" href = "/Engineers">| Engineers |</a>
  <a id = "three" href = "/Machines">| Machines |</a>
</div>



@* <h3>@Html.ActionLink("List Of Engineers","Index","Engineers")</h3>
<h3>@Html.ActionLink("List Of Machines","Index","Machines")</h3> *@